h1
{
    color : red;
    text-align: center; 
}
ol
{

}
table
{
    width: 30%;
}
.ss
{
    color : rgb(11, 185, 156);
    font-size: 20px;
}
.s
{
    font-family: verdana
}
li
{
    color : rgb(74, 6, 231);
    font-size: 25px;
}   

